<div>
<div class="red_mask" ng-click="remove()"></div>
<div class="rp_paper animated scaleIn">
  <h2 class="rp_title">送福利啦！</h2>
  <p class="rp_quanN">恭喜活得3张优惠券</p>
  <section class="rp_quan">
  	<h3>卡券1</h3>
  	<p>使用范围：XXX供应商！</p>
  	<span class="rp_coupons">已领取</span>
  </section>
  <section class="rp_quan">
  	<h3>卡券2</h3>
  	<p>使用范围：XXX供应商！</p>
  	<span class="rp_coupons">已领取</span>
  </section>
  <section class="rp_quan">
  	<h3>卡券3</h3>
  	<p>使用范围：XXX供应商！</p>
  	<span class="rp_coupons">已领取</span>
  </section>
  <!-- <img class="rp_img" alt="" src="assets/v3/images/rpaper.png" />
  <p class="rp_tit">来自芙蓉兴盛八丈井店</p>
  <p class="rp_txt">限平台首次下单使用，记得当天用掉哦！</p>
  <p class="redprice"><span class="red_man">￥30</span><span class="red_jian">￥10</span></p>   
  <img class="rp_accept" alt="查看红包" src="assets/v3/images/rpaccept.png">
  <a href="#/my/coupon" class="rp_see">查看红包</a> -->	  	
</div>
</div>