<div class="payContent_hl">
<header class="payment-header">
	<div class="payment-headicon mypic">
		<img ng-if="seller.imgUrl!=undefined&&seller.imgUrl!=''" ng-src="{{seller.imgUrl}}?s=220x220" square-picture >
		<img ng-if="seller.imgUrl==undefined||seller.imgUrl==''" ng-src="assets/v3/images/paymentlogo.png" square-picture >
	</div>
	<div class="payment-headinfo">
		<p class="payment-big">{{seller.name}}</p>
		<p class="payment-normal">花啦生活合作商家</p>
	</div>
</header>
<div class="payment-content">
	<form name="payment">
		<div class="payment_c">
			<div class="payment_label">金额</div>
			<div class="payment-extras" ng-class="{'active':changeInput}">			
				<input type="text" ng-model="amount" value="{{amount}}" id="amount" readonly="readonly" placeholder="0.00" ng-class="{'change':changeInput}" ng-click="showkeyBoard()">
				<span class="paymenticon">￥</span>
			</div>
		</div>
		<section class="payment-discount" ng-if="isLogin">
			<!-- 登录成功后显示下面优惠信息  -->
			<h3>商家优惠</h3>
			<div class="payment-discount-txt btmbdr clear">
				<p class="payment-fl pay_scanleft">{{content}}</p>
				<p class="payment-fr pay_scanright">{{card.content}}</p>
			</div>
			<div class="payment-discount-txt clear">
				<p class="payment-fl payment-discount-ptxt">还需付款（元）</p>
				<p class="payment-fr payment-discount-price" id="payAmount">{{payAmount /100 | currency:"￥":2}}</p>
			</div>
		</section>
		<!-- <div ng-show="seller.sellerStatus=='1'" class="warnning">该商家未上班，暂不支持付款！</div> &&!CanGotoPay-->
		<div ng-if="changeInput" class="payment-btn payment-paybtn" ng-class="{'active':changeInput}" ng-click="scanGoPay(seller.id)">确认支付</div>
		<div class="payment-btn payment-login" ng-if="!isLogin">
			<div class="clear">
				<span class="payment-btnuser"></span>
				<p class="payment-loginbtn" ng-click="goLogin()">去登陆，即可享受支付折扣</p>
			</div>
		</div>
	</form>
</div>
<div class="keyboardblank" id="bottom" ng-show="showNumberBoarad"></div>
<div class="keyboardmask" ng-show="showNumberBoarad" ng-click="getPayMoney(seller.id);"></div>
<div class="keyboard" id="keyboard" ng-show="showNumberBoarad" ng-class="{'animated slideInFromBottom':showNumberBoarad}" ontouchstart = "return false;">
	<div class="keyCodeNumber">
		<ul class="clear" ng-init="activeNode=false;elseNode=false;">
			<li ng-keydown="activeNode=true;" ng-class="{'active':activeNode}" get-number><span>1</span></li>
			<li get-number><span>2</span></li>
			<li get-number><span>3</span></li>
			<li get-number><span>4</span></li>
			<li get-number><span>5</span></li>
			<li get-number><span>6</span></li>
			<li get-number><span>7</span></li>
			<li get-number><span>8</span></li>
			<li get-number><span>9</span></li>
			<li get-number class="nobtmbdr"><span>.</span></li>
			<li get-number class="nobtmbdr"><span>0</span></li>
			<li ng-click="getPayMoney(seller.id);"><span class="iconfont">&#xe680;</span></li>
		</ul>
	</div>
	<div class="keyCloseOrOk">
		<div class="keyClose" delete-number style="height: 96px;display: block;"><span class="iconfont">&#xe681;</span></div>
		<div class="keyOk" id="scanGoPay" style="height: 96px;display: block;" ng-click="scanGoPay(seller.id);" ng-class="{'gotoPay':amount==''||amount=='0.00'}"><span>确认支付</span></div>
	</div>
</div>
</div>
