<div class="chooseEnvelope" ng-init="use=false">
  <header>红包/优惠券</header>
  <div class="chooseEnve_nav whitebg">
    <ul class="clear">
      <li ng-click="use=false;" ng-class="{'on':!use}">未使用</li>
      <li ng-click="use=true;" ng-class="{'on':use}">已失效</li>
    </ul>
  </div>
  <div ng-show="!use">
 	<section class="envelopes" ng-if="unused.length>0" ng-repeat="uc in unused">
      <p><img src="assets/v3/images/rpaper_list.png"></p>
      <p class="redprice_c">
      	<span class="red_man">￥{{uc.sums/100 | number}}</span>
      	<span class="red_jian">￥{{uc.balance/100 | number}}</span>
      </p>
      <p class="envelope_txt">
      	  <span ng-if="uc.type=='1'">仅限第一次下单时在{{uc.sellerName}}使用 </span>
      	  <span ng-if="uc.type!='1'">{{uc.content}}</span>
      	  <br>
		 红包有效期：{{uc.startDay | dateformat | date:'yyyy-MM-dd'}} 至  {{uc.endTime | dateformat | date:'yyyy-MM-dd'}}
      </p>
      <p class="envelope_title">{{uc.name}}</p>
    </section> 
    <section class="collect_blank ng-scope" id="collect_blank" ng-if="unused.length==0"> 
		<div class="collect_bb">
			<p class="collect_bbpic"><img src="assets/v3/images/blankico.png"></p>
			<p class="co-btn">暂无未使用优惠券</p>
		</div>
	</section>	
  </div>
  <div ng-show="use">
	<section class="envelopes" ng-repeat="c in used">
	    <p><img src="assets/v3/images/rpaper_b.png"></p>
	    <p class="redprice_c">
	      <span class="red_man">￥{{c.sums/100 | number}}</span>
	      <span class="red_jian">￥{{c.balance/100 | number}}</span>
	    </p>


	    <p class="envelope_txt">
	    	<span ng-if="c.type=='1'">仅限第一次下单时在{{c.sellerName}}使用 </span>
      	  	<span ng-if="c.type!='1'">{{c.content}}</span>
	     	<br>
	                        红包有效期：{{c.startDay | dateformat | date:'yyyy-MM-dd' }}至{{c.endTime | dateformat | date:'yyyy-MM-dd'}}
	    </p>
	    <p class="envelope_title">{{c.name}}</p>
    </section>    
  </div>
</div>