
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta content="telephone=no" name="format-detection" />
	<title>花啦生活-支付成功</title>
	<link rel="stylesheet" type="text/css" href="../../assets/v3/css/main.min.css">
</head>
<body>
	<div class="paycode">
		<section class="pannel3" id="wx_pay">
			<h1>微信或支付宝扫码向我付款</h1>			
			<div class="pay-code"><img src="data:image/png;base64,${wxCode}"></div>
		</section>
		<!-- 
		<section class="pannel3 hidden" id="ali_pay">
			<h1>支付宝扫码向我付款</h1>			
			<div class="pay-code"><img src="data:image/png;base64,${aliCode}"></div>
		</section>
		 -->
	</div>
</body>
</html>
