<hl-header seearound='true' middle='true'></hl-header>
<article:shoplist class="noboder shopdetailpage whitebg mt3em">
  <section class="shop_detail_top">
    <div class="sellermess">
      <p class="shoppic">
     	<img ng-if="seller.imgUrl!=undefined&&seller.imgUrl!=''" class="radiuspic lazy" square-picture ng-src="{{::imgUrl}}{{::seller.imgUrl}}?s=220x220" >
		<img ng-if="seller.imgUrl==undefined||seller.imgUrl==''" class="radiuspic lazy" square-picture ng-src="assets/v3/images/defaultpic02.png">
      </p>
      <div class="shop-mess">
        <h3>{{seller.name}}</h3>
        <p>营业时间：{{::seller.openTime}}-{{::seller.endTime}}</p>
      </div>
      <p collect seller-id="seller.id" show="show"></p>
      <a href="javascript:void(0);" title="{{::seller.name}}">{{::seller.name}}</a>
    </div>
  </section>
  <div class="amountinfo">
    <ul class="clear">
      <li>
        <p class="amounttxt">起送费￥</p>
        <p ><span ng-bind="seller.startAmount/100 | currency:'￥'"></span></p>
      </li>
      <li></li>
      <li>
        <p class="amounttxt">配送费￥</p>
        <p><span ng-bind="seller.deliveryAmount/100 | currency:'￥'"></span></p>
      </li>
      <li></li>
      <li>
        <p class="amounttxt">商品数量</p>
        <p><span ng-bind="seller.goodsCount"></span></p>
      </li>
    </ul>
  </div>
</article:shoplist>
<article:shopactivities class="whitebg mt15" id="shop-detail-coupon_sel">
  <h3 class="moduletit">商家活动<em class="moduleicon"></em></h3>
  <div class="active_blank greyclr">暂无</div>
</article:shopactivities>
<article:shopactivities class="whitebg mt15" ">
  <h3 class="moduletit">商家信息<em class="moduleicon"></em></h3>
  <ul class="activityitems">
    <li>
                 商家地址：<span class="sd_mess greyclr">{{::seller.address}}</span>
      <a href="#/seller/{{seller.id}}/scope?lat={{seller.lat}}&lng={{seller.lng}}" class="scope">配送范围</a>
    </li>
    <li>联系电话：<span class="sd_mess greyclr">{{::seller.phone}}</span></li>
    <li>商家微信：<span class="sd_mess greyclr"></span></li>
  </ul>
  <p class="scope_02 hidden" id="scope">查看配送范围<em class="iconfont">&#xe625;</em></p>
</article:shopactivities>