<hl-header seearound='true' searchbox='true'></hl-header>
<div class="activelists mt3em">
<article:prolist class="greybgclr catelist_m">
	<div class="prolist_title prolist_titpic"><img alt="{{::subCateName}}" ng-src="{{actImg}}" class="activepic"></div>
	<div class="activeproslist" ng-show="currentActiveGoods.length>0">
		<ul>
			<li ng-repeat='p in currentActiveGoods'><a href="#/goods/detail?sellerId={{::sellerId}}&goodsId={{::p.goodsId}}"><img ng-src="{{imgUrl}}{{::p.actImgUrl}}"/></a></li>
		</ul>
	</div>
	<ul:prolist class="clear activegoods" infinite-scroll='getGoods()' ng-if="goodsList.length>0">		
		<li ng-repeat='g in goodsList'>			
			<a ng-href="#/goods/detail?sellerId={{::sellerId}}&goodsId={{::g.goodsId}}">
				<p class="propic">
					<img ng-if="g.picUrl!=undefined&&g.picUrl!=''" square-picture ng-src="{{imgUrl}}{{::g.picUrl}}?s=220x220">
					<img ng-if="g.picUrl==undefined||g.picUrl==''" square-picture class="radiuspic" ng-src="assets/v3/images/defaultpic4.png">
				</p>
				<p class="proname">{{::g.title}}</p>
			</a>
			<div class="proprice">
				<span class="p_price">{{g.price/100 | currency:"￥"}}</span>
				<span class="old_price">{{g.salePrice/100 | currency:"￥"}}</span>
				<div class="icon-cart" add-cart goods="g" seller-id="sellerId">
					<em class="iconfont">&#xe677;</em>
				</div>
			</div>
			<p class="rightline"></p> <span class="cartsuccess_ico"
			ng-if="g.goodNum>0"><em class="iconfont">&#xe63e;</em></span>
			<em ng-if="g.actPicUrl!=''" class="{{g.actPicUrl}}-status small"></em>
		</li>			
	</ul:prolist>
	<p class="loadmoregoods" ng-show="finish" ng-if="goodsList.length>0">没有更多数据...</p>
	<div class="collect_blank ng-scope" id="collect_blank" ng-if="loadingdata&&goodsList.length==0"> 
		<div class="collect_bb">
			<p class="collect_bbpic"><img src="assets/v3/images/blankico.png"></p>
			<p class="co-btn">暂无商品</p>
		</div>
	</div>
</article:prolist>
<div class="gotop ng-scope" ng-click="gotop()"><em class="iconfont"></em>TOP</div>
</div>