
<address class="changeAddress" ng-if="routeparam!='manage'">
	<p class="c_regps" ng-click="getGps()"><span class="c_regps_ico iconfont">&#xe67e;</span>点击获取定位地址      </p>
</address>	
<div class="addressList">
	<div class="a_list_tit">
		<em class="iconfont a_list-ico">&#xe67f;</em>我的收货地址  
	</div>
	<div class="a_lists">	
		<section class="addressItem" ng-repeat="address in addressList" ng-class="{'active':address.isDefault=='1'}" ng-click="change(address,$event);">
			<div class="a_inneraddress">
				<p><b class="consigneeName">{{address.consignee}}</b>{{address.mobile}}</p>
				<p class="greyclr a_addressmess">{{address.signBuilding}}{{address.address}}</p>
				<span class="a_edit_icon greyclr" ng-click="add(address)" ng-if="routeparam=='manage'&&address.isDefault!='1'"><em class="iconfont">&#xe628;</em></span>
			</div>
			<div class="clear" ng-if="address.id==addressId&&address.isDefault!='1'">      
		    	<span class="a_delete" ng-click="del(address.id)">删除</span>
		    	<span class="a_edit" ng-click="edit(address.id)">编辑</span>
		    </div>
		</section>	
	</div>
</div>
<a class="choosedate_ok" ng-href="#/address/edit/-1">创建新地址</a>

<div ng-show="showdeletepop">
	<div class="l-mask" ng-click="showdeletepop=false"></div>
	<div class="m-module">
	  <div class="sc-message">确认要删除该地址吗？</div>
	  <div class="sm-btns">   
	  	<span style="display:inline-block;padding: .8em 1.5em;" ng-click="showdeletepop=false">取消</span>
	    <span class="sm-cancel" ng-click="delok(addressid)">确定</span>
	  </div>
	</div>
</div>